
/*-- PRE CONSTRUCT ----------------------------------------------------------*/
html {
    background: #222222;
    height: 100%;
    width: auto;
    overflow: auto;
    scroll-behavior: smooth;
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ag-format-container {
    width: 1200px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*-- HEADER -----------------------------------------------------------------*/
#header-animation {
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    background-size: cover;
    background-position: center;
}
#header-animation svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#header-animation text {
    fill: #ffffff;
    font-size: 48px;
    font-family: Arial, sans-serif;
    dominant-baseline: middle;
    text-anchor: start;
    text-shadow: 20px 20px 40px #222222;
}

/*-- HEADER ARTICLES --------------------------------------------------------*/
.head-articles {
    display: grid;
    max-width: 1150px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.article-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;


}
.article-button img {
    margin-right: 5px;
    width: 40px;
    height: auto;
}
.article-button h2 {
    margin: 0 0 0 0;
    font-family: Consolas, monospace;
    font-size: 1.7rem;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}
.small-fix {
    margin-right: 15px;
}

/*-- CONTACT LINK BUTTONS ---------------------------------------------------*/
.background-buttons {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #222222;
}
.background-button {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px 50px 0;
    background-color: white;
}
.background-button img {
    width: 100%;
    height: auto;
}
.contact-email {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Consolas, monospace;
    color: rgb(232, 232, 232);
}

/*-- SEPARATOR and SECTION TAG ----------------------------------------------*/
.separator {
    border-top: 2px solid rgba(255, 255, 255, 0.40);
    margin: 20px auto;
    width: 80%;
}
.section-description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 32px;
    font-family: Consolas, monospace;
    color: rgba(255, 255, 255, 0.45);
}

/*-- ARTICLES AND MAIN ARTICLE LISTING SETTINGS -----------------------------*/
.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.45);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

}
article h2 {
    margin: 0 0 0 0;
    font-family: Consolas, monospace;
    font-size: 1.6rem;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}
figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
article figure {

    margin: 0;
    padding: 6px 1px 1px 1px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article figure img {
    max-width: calc(100% - 32px);
    border-radius: 16px;
    object-fit: cover;

}
.article-body {
    padding: 24px;
}
article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}
article a:focus {
    outline: 1px dotted #28666e;
}
article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #148543;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.89) 0 10px 36px 0, rgba(0, 0, 0, 0.46) 0 0 0 1px;
} /*colour*/


/*-- SEPARATOR and SECTION TAG ----------------------------------------------*/
@media screen and (max-width: 960px) {
    .articles {
        grid-template-columns: repeat(2, minmax(48%, 1fr));
    }
    #header-animation text {
        font-size: 48px;
        text-anchor: start;
        transform: translate(0, 0);
    }
    .article-button h2 {
        margin: -12px 0 -12px -24px;
        font-size: 1.4rem;
    }
    .head-articles {
        max-width: 92%;
        gap: 15px;
    }
    .section-description {
        font-size: 24px;
    }
}
@media screen and (max-width: 480px) {

    #header-animation text {
        font-size: 48px;
        text-anchor: start;
        transform: translate(0, 0);
    }
} /*test*/
@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
} /*test*/
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}